dealnova/app/static/uploads/
dealnova/app/static/uploads/rentals/

__pycache__/
*.pyc

*.db
*.db-shm
*.db-wal

.env
dealnova/.env

venv/
.venv/
env/
ENV/
# Environnement local
dealnova/.envxxx
.env
.env.*

# Logs
dealnova/logs/
*.log

# Raccourcis Windows
*.lnk

# Python
__pycache__/
*.pyc
.venv/
venv/