{% extends 'errors/base.html' %}
{% set error_code = 400 %}
{% set error_title = 'Requete invalide' %}
{% set error_message = 'La requete est mal formee ou a expire. Verifiez vos donnees et reessayez.' %}
{% set error_tone = 'warning' %}
{% set error_hint = 'Code 400 - Requete incorrecte' %}

{% block error_actions %}
<a class="error-btn error-btn-primary" href="{{ url_for('landing') }}">Retour a l'accueil</a>
<a class="error-btn error-btn-secondary" href="{{ request.path or url_for('landing') }}">Reessayer</a>
{% endblock %}
