# Core
Flask==3.1.3
Werkzeug==3.1.8
python-dotenv==1.1.1

# Database
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
SQLAlchemy==2.0.46
Alembic==1.18.3
PyMySQL==1.1.2
psutil==7.2.2

# Auth & Forms
Flask-Login==0.6.3
Flask-WTF==1.2.2
WTForms==3.2.1
email-validator==2.3.0

# Cache
Flask-Caching==2.3.1
redis==6.4.0

# Images
Pillow==11.3.0; python_version < "3.10"
Pillow==12.2.0; python_version >= "3.10"

# Utils
python-slugify==8.0.4
reportlab==4.4.10
pywebpush==2.3.0

# Server (production only)
gunicorn==24.1.1

# Testing (development only)
pytest==8.4.2
Flask-Compress==1.24
